{% extends "base.html" %}


{% block content %}
<div class="event-content content_margin">
    <div class="event-title title_block">
        <div class="title_block-data">Начало: {{ event.start_time }} | Конец: {{ event.end_time }}</div>
        <div class="title_block-content">{{ event.name }}</div>
        <div class="title_block-tags">{{ event.interests.all|join:", " }}</div>
    </div>
    {% if object.image %}
        <div class="event_img">
            <img class="event_img-content" src="{{ object.image.url }}" />
        </div>
    {% endif %}
    <div class="event-desc">{{ object.description }}</div>
</div>
{% endblock %}