{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="main_page content_margin">
    <div class="page_title">Новости</div>
    <div class="main_page-date">30.10.22</div>
    <div class="main_page-content">
        <img class="main_page-image" src="{% static 'images/20221029_104429.jpg' %}"/>
        <div class="main_page-desc page_desc">
            На стадионе "Калининград" прошёл Хакатон по программированию "KDhack" для школьников.
            Мероприятие прошло в позитивной рабочей обстановке, каждая из команд показала отличный результат.
            Эксперты подводят итоги через некоторое время состоится церемония награждения.
        </div>
    </div>
</div>
{% endblock %}