{% extends "events-base.html" %}


{% block content %}

<div class="event_cards content_margin">
    {% for event in object_list %}
        <a class="event_card" href={% url "event" event.pk %}>
            {% if event.image %}
                <img class="event_card-image" src="{{ event.image.url }}" />
            {% endif %}
            <div class="event_card-content">
                <div class="event_card-time">Начало: {{ event.start_time }} | Конец: {{ event.end_time }}</div>
                <div class="event_card-title">{{ event.name }}</div>
                <div class="event_card-tags">{{ event.interests.all|join:", " }}</div>
            </div>
        </a>
    {% empty %}
        <div class="event_card-empty">Пока нету новых событий.</div>
    {% endfor %}
</div>

{% endblock %}